.gcloudignore
.git
.gitignore

.env
.env.*
!/.env.example

.gradle/
.gradle-user-home/
.gradle-user-home*/
build/
bin/
out/

bootrun.log
build-plain.txt
build.txt
build_output.txt
deps.txt

.idea/
.vscode/
*.iml
*.iws
*.ipr

src/main/resources/firebase-service-account.json
*.json.credentials
