SERVER_PORT: "8080"
SPRING_PROFILES_ACTIVE: "prod"
SHOPLITE_FIREBASE_ENABLED: "true"
TWILIO_ENABLED: "false"
SHOPLITE_CORS_ALLOWED_ORIGIN_PATTERNS: "https://localhost,http://localhost:4173,http://localhost:5173,http://localhost:8100,https://*.web.app,https://*.firebaseapp.com"

SPRING_JPA_DATABASE_PLATFORM: "org.hibernate.dialect.MySQLDialect"
SPRING_DATASOURCE_DRIVER_CLASS_NAME: "com.mysql.cj.jdbc.Driver"
SPRING_DATASOURCE_URL: "jdbc:mysql://shoplite-mysql-taskify123.k.aivencloud.com:23422/defaultdb?sslMode=REQUIRED&serverTimezone=UTC"
SPRING_DATASOURCE_USERNAME: "avnadmin"
SPRING_DATASOURCE_PASSWORD: "${AIVEN_DB_PASSWORD}"

DB_USERNAME: "avnadmin"
DB_PASSWORD: "${AIVEN_DB_PASSWORD}"
JWT_SECRET_KEY: "c2hvcGxpdGUtc2VjcmV0LWtleS10aGF0LXJlYWxseS1tdXN0LWJlLWF0LWxlYXN0LTUxMi1iaXRzLWxvbmctZm9yLW1hYy1hbGdvcml0aG0taHM1MTItMTIzNDU2Nzg5MA=="

SEPAY_WEBHOOK_SECRET: "abc"

MOMO_PARTNER_CODE: "test"
MOMO_ACCESS_KEY: "test"
