/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
    --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue",
        Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --ion-font-family: var(--app-font-family);
}

html,
body {
    font-family: var(--app-font-family);
}